// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*body {
  background: #edf3f0;
  margin: auto;
  width: 95%;
  padding: 10px;
  text-align: center;
}*/
img {
  max-width: 200px;
}

p.sock_name {
  font-weight: bold;
}

div.dropdown {
  margin: 10px;
}