// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #edf3f0;
  margin: auto;
  width: 80%;
  border:3px solid #73AD21;
  padding: 10px;
  text-align: center;
}

img {
  height: 200px;
  width: 60%;
  margin: auto;
  padding-bottom: 20px;
  max-width: 200px;
  border-radius: 50%;
}

p.sock_name {
  font-weight: bold;
}

div.dropdown {
  margin: 10px;
}