body {
  font-family: Geneva,Tahoma,Verdana,sans-serif;
  background: url("stardust.png");
}
h1 {
  font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
  color: #F0F0F0
}