<h1>Peruse all of our products!</h1>

<% @product.each do |product| %>
<p class="sock_name"><a href="/products/<%= product.id %>"><%= product.name %></a></p>
<img src="<%= product.image %>">
<p><%= product.id %></p>
<% end %>
