<h1>Peruse all of our products!</h1>

<!-- Add data-toggle="dropdown" -->
<div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sock Types
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li>Santa</li>
    <li>Reindeer Snowflake</li>
    <li>What is this</li>
  </ul>
</div>

<% @product.each do |product| %>
<p class="sock_name"><a href="/products/<%= product.id %>"><%= product.name %></a></p>
<img src="<%= product.image %>">
<p><%= product.id %></p>
<% end %>
